In [6]:
import pandas as pd
import pandas_profiling

### LOAD THE DATASET

In [10]:
# The dataset is located in the data directory
df = pd.read_csv('data/wine_data.csv')

In [8]:
profile = df.profile_report(title='Wine Profiling Report')
profile.to_file(output_file="wine_profile.html")

In [9]:
df.describe()

           Unnamed_0         points          price
count  129971.000000  129971.000000  120975.000000
mean    64985.000000      88.447138      35.363389
std     37519.540256       3.039730      41.022218
min         0.000000      80.000000       4.000000
25%     32492.500000      86.000000      17.000000
50%     64985.000000      88.000000      25.000000
75%     97477.500000      91.000000      42.000000
max    129970.000000     100.000000    3300.000000

In [11]:
print("The dataframe columns are: ", list(df.columns), "\n")

The dataframe columns are:  ['Unnamed: 0', 'country', 'description', 'designation', 'points', 'price', 'province', 'region_1', 'region_2', 'taster_name', 'taster_twitter_handle', 'title', 'variety', 'winery']

In [14]:
print(f"There are {len(df.variety.unique())} unique varieties.\n")
print(f"There are {len(df.taster_name.unique())} tasters.\n")
print(f"There are {len(df.winery.unique())} unique wineries.\n")
print(f"There are {len(df.country.unique())} unique countries represented.\n")

There are 708 unique varieties.

There are 20 tasters.

There are 16757 unique wineries.

There are 44 unique countries represented.