In [21]:
import pandas as pd
import pandas_profiling
import os
from pprint import pprint

### DOWNLOAD THE DATASET (DEPRECATED)

In [ ]:
# Warn user to add their own credentials
print('Get your Kaggle API Credentials - see here: https://github.com/Kaggle/kaggle-api')
username = input('Enter your Kaggle username: ')
key = input('Enter your Kaggle credentials key: ')    

# Set your credentials to environment variables
os.environ['KAGGLE_USERNAME'] = username
os.environ['KAGGLE_KEY'] = key

try:
    import kaggle
except:
    sys.exit('Invalid Credentials')

# Download the dataset
kaggle.api.authenticate()
kaggle.api.dataset_download_files('zynicide/wine-reviews', path='./data', unzip=True)

### LOAD THE DATASET

In [37]:
# Load the dataset
df = pd.read_json('data/winemag-data-130k-v2.json')

### FILTER ROWS BY COUNTRY (Include Canada and US)

In [38]:
df = df.query("country == 'US'")
df.describe()

             points         price
count  54761.000000  54519.000000
mean      88.567502     36.569453
std        3.112285     27.058902
min       80.000000      4.000000
25%       86.000000     20.000000
50%       88.000000     30.000000
75%       91.000000     45.000000
max      100.000000   2013.000000

### MAKE THE PANDAS PROFILING REPORT (EXPLORATION OF DATA)

In [39]:
profile = df.profile_report(title='Wine Profiling Report')
profile.to_file(output_file="wine_profile.html")

/Users/jarvisnederlof/anaconda3/lib/python3.7/site-packages/pandas_profiling/model/correlations.py:34: RuntimeWarning: invalid value encountered in double_scalars
  return np.sqrt(phi2corr / min((kcorr - 1.0), (rcorr - 1.0)))
/Users/jarvisnederlof/anaconda3/lib/python3.7/site-packages/pandas_profiling/model/correlations.py:124: UserWarning: There was an attempt to calculate the cramers correlation, but this failed.
To hide this warning, disable the calculation
(using `df.profile_report(correlations={"cramers": False}`)
If this is problematic for your use case, please report this as an issue:
https://github.com/pandas-profiling/pandas-profiling/issues
(include the error message: 'The internally computed table of expected frequencies has a zero element at (0, 0).')
  correlation_name=correlation_name, error=error

In [22]:
print("The dataframe columns are:")
pprint(list(df.columns))

The dataframe columns are:
['points',
 'title',
 'description',
 'taster_name',
 'taster_twitter_handle',
 'price',
 'designation',
 'variety',
 'region_1',
 'region_2',
 'province',
 'country',
 'winery']

In [36]:
print("There are {:,.0f} total ratings.\n".format(len(df)))
print(f"There are {len(df.country.unique())} unique countries represented.\n")
print(f"There are {len(df.province.unique())} unique provinces represented.\n")
print(f"There are {len(df.region_1.unique())} unique region 1's represented.\n")
print(f"There are {len(df.region_2.unique())} unique region 2's represented.\n")
print(f"There are {len(df.variety.unique())} unique varieties.\n")
print("There are {:,.0f} unique wineries.\n".format(len(df.winery.unique())))
print(f"There are {len(df.taster_name.unique())} tasters.\n")
print("The price ranges from ${:,.0f} to ${:,.0f} per bottle.\n".format(df.price.min(), df.price.max()))
print("The average price is ${:,.0f} per bottle.\n".format(df.price.mean()))
print("The points range from {:,.0f} to {:,.0f} per bottle.\n".format(df.points.min(), df.points.max()))
print("The average point rating is {:,.0f} per bottle.\n".format(df.points.mean()))

There are 54,761 total ratings.

There are 2 unique countries represented.

There are 30 unique provinces represented.

There are 276 unique region 1's represented.

There are 18 unique region 2's represented.

There are 258 unique varieties.

There are 5,417 unique wineries.

There are 16 tasters.

The price ranges from $4 to $2,013 per bottle.

The average price is $37 per bottle.

The points range from 80 to 100 per bottle.

The average point rating is 89 per bottle.